//Colors
$main-color: #292D32;
$second-color: #FFFFFF;
$bg-color: #FAFBFF;
$text-light-color: #B5B7C0;
$text-side-color: #9197B3;
$link-selected: #5932EA;
$text-active: #008767;
$bg-active: #00B087;
$text-inactive: #DF0404;
$bg-inactive: #FFC5C5;

//Breakpoints 
$maxWidth: 1440px;
$maxWidthContainer: 1270px;
$md1: 991.98px;
$tablet: 767.98px;
$md3: 479.98px;
$mobile: 320px;

$fontFamily: "Poppins", sans-serif;
$fontSize: 12px;
