.page {
    // &__table-wrapper {
    //     overflow-x: scroll;
    // }
    &__table {
        margin-top: 40px;
        width: 100%;
        border-collapse: collapse; 
        tr {
            position: relative;
        }
        td, th {
            border-bottom: 1px solid #EEEEEE;
            text-align: left;
            padding-bottom: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.01em;
        }
        td:not(:last-child) {
            padding-top: 20px;
            color: $main-color;
        }
        th {
            padding-top: 14px;
            color: $text-light-color;
        }
    }

    &__category {
        position: absolute;
        right: 0;
        top: 15px;
        text-align: center;
        padding: 4px 12px;
        width: 80px;
        height: 29px;
        border-radius: 4px;
        
        &.status-active {
            background: rgba(22, 192, 152, 0.38);
            color: $text-active;
            border: 1px solid $bg-active;
            color: $text-active;

        }
        &.status-inactive {
            background: $bg-inactive;
            color: $text-inactive;
            border: 1px solid $text-inactive;
            color: $text-inactive;
        }
    }
}
